body {
  background-color: #181823;
  
}

.sun {
  height: 600px;
  width: 600px;
  max-height: 55vh; /* Set a maximum height to prevent scrolling */
  max-width: 55vw; /* Set a maximum width to prevent scrolling */
  border-radius: 50%;
  background: radial-gradient(circle, rgba(59,130,246,.5) 0%, rgba(255, 255, 255, 0.01) 35%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  overflow: hidden; /* Hide any content that overflows the cursor */
}
